<div class="publications">
  <h2>Recent papers<span style="font-size:small">(*: equal contribution)</span></h2>

  <h5 class="topic">Foundations of Transformers</h5>
  {% bibliography -f papers -q @*[selected=true, category=transformer]* %}

  <h5 class="topic">Approximate Message Passing algorithms</h5>
  {% bibliography -f papers -q @*[selected=true, category=AMP]* %}

  <h5 class="topic">Implicit bias of optimization algorithms</h5>
  {% bibliography -f papers -q @*[selected=true, category=optimization]* %}

  <h5 class="topic">Data-driven decision-making problems</h5>
  {% bibliography -f papers -q @*[selected=true, category=reinforcement learning]* %}

  <h5 class="topic">Orbit recovery model</h5>
  {% bibliography -f papers -q @*[selected=true, category=orbit recovery]* %}
</div>